{
  "extends": "airbnb-base",
  "env": {
    "node": true,
  },
  "rules": {
    "strict": 0,
    "prefer-destructuring": 0,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "prefer-object-spread": "off",
  },
}
